In [2]:
import pandas as pd
import numpy as np

In [3]:
diamond_data = pd.read_csv("data/train.csv")

In [4]:
diamond_data.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [5]:
diamond_data.shape

(193573, 11)

In [6]:
diamond_data.drop("id", axis=1, inplace=True)

In [7]:
diamond_data.head(2)

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387

In [41]:
X = diamond_data.iloc[:, :-1]
Y = diamond_data.iloc[:, -1:]

In [42]:
X

        carat        cut color clarity  depth  table     x     y     z
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77
...       ...        ...   ...     ...    ...    ...   ...   ...   ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48

[193573 rows x 9 columns]

In [43]:
Y

        price
0       13619
1       13387
2        2772
3         666
4       14453
...       ...
193568   1130
193569   2874
193570   3036
193571    681
193572   2258

[193573 rows x 1 columns]

In [44]:
categorical_columns = X.columns[X.dtypes == "object"]
numerical_columns = X.columns[X.dtypes != "object"]
print(categorical_columns)
print(numerical_columns)

Index(['cut', 'color', 'clarity'], dtype='object')
Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [16]:
X.select_dtypes(include="object")

              cut color clarity
0         Premium     F     VS2
1       Very Good     J     SI2
2           Ideal     G     VS1
3           Ideal     G     VS1
4         Premium     G     VS2
...           ...   ...     ...
193568      Ideal     D    VVS2
193569    Premium     G    VVS2
193570  Very Good     F     SI1
193571  Very Good     D     SI1
193572       Good     E     SI2

[193573 rows x 3 columns]

In [17]:
X.select_dtypes(exclude="object")

        carat  depth  table     x     y     z
0        1.52   62.2   58.0  7.27  7.33  4.55
1        2.03   62.0   58.0  8.06  8.12  5.05
2        0.70   61.2   57.0  5.69  5.73  3.50
3        0.32   61.6   56.0  4.38  4.41  2.71
4        1.70   62.6   59.0  7.65  7.61  4.77
...       ...    ...    ...   ...   ...   ...
193568   0.31   61.1   56.0  4.35  4.39  2.67
193569   0.70   60.3   58.0  5.75  5.77  3.47
193570   0.73   63.1   57.0  5.72  5.75  3.62
193571   0.34   62.9   55.0  4.45  4.49  2.81
193572   0.71   60.8   64.0  5.73  5.71  3.48

[193573 rows x 6 columns]

In [18]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler

# pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [54]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=52)

In [67]:
num_pipeline = Pipeline(
    steps=[
        ("imputer", SimpleImputer()),
        ("standardization", StandardScaler())
    ]
)

order_categories = [
    ["Fair", "Good", "Very Good", "Premium" , "Ideal"],
    ["D", "E", "F", "G", "H", "I", "J"], 
    ["I1", "SI2", "SI1", "VS2", "VS1", "VVS2", "VVS1", "IF"]
    ]

cat_pipeline = Pipeline(
    steps=[
        ("imputer", SimpleImputer(strategy="most_frequent")),
        ("encoding", OrdinalEncoder(categories=order_categories))
    ]
)

In [68]:
preprocessor = ColumnTransformer(
    [
        ("num_pipeline", num_pipeline, numerical_columns),
        ("cat_pipeline", cat_pipeline, categorical_columns)
    ]
)

In [69]:
X_train

        carat      cut color clarity  depth  table     x     y     z
163274   0.90     Good     F     VS2   64.2   58.0  6.06  6.02  3.88
153314   0.30    Ideal     G     VS2   61.7   55.0  4.32  4.35  2.67
73786    0.31    Ideal     D     VS2   62.0   56.0  4.31  4.36  2.69
55531    0.90     Fair     G     SI1   64.6   59.0  6.05  6.01  3.89
21477    0.31  Premium     G     SI1   62.0   59.0  4.31  4.34  2.68
...       ...      ...   ...     ...    ...    ...   ...   ...   ...
58268    0.54    Ideal     E     VS2   61.1   56.0  5.25  5.28  3.22
129110   0.52    Ideal     G     SI1   61.4   56.0  5.21  5.17  3.19
69783    0.70    Ideal     F     VS1   61.3   56.0  5.73  5.75  3.52
56845    0.47    Ideal     H     SI1   61.4   55.0  5.01  5.05  3.09
42652    0.36  Premium     E     VS1   59.6   59.0  4.67  4.61  2.76

[135501 rows x 9 columns]

In [70]:
y_train

        price
163274   4636
153314    524
73786     657
55531    3734
21477     462
...       ...
58268    1741
129110   1348
69783    2846
56845     983
42652    1021

[135501 rows x 1 columns]

In [71]:
preprocessor.fit_transform(X_train)

array([[ 0.23899684,  2.20095192,  0.40087632, ...,  1.        ,
         2.        ,  3.        ],
       [-1.06011963, -0.11122962, -1.16015463, ...,  4.        ,
         3.        ,  3.        ],
       [-1.03846769,  0.16623217, -0.63981098, ...,  4.        ,
         0.        ,  3.        ],
       ...,
       [-0.19404199, -0.48117866, -0.63981098, ...,  4.        ,
         2.        ,  4.        ],
       [-0.69203663, -0.3886914 , -1.16015463, ...,  4.        ,
         4.        ,  2.        ],
       [-0.93020798, -2.05346211,  0.92121997, ...,  3.        ,
         1.        ,  4.        ]])

In [72]:
preprocessor.transform(X_test)

array([[ 0.54212401,  1.09110478,  1.44156362, ...,  2.        ,
         3.        ,  4.        ],
       [-1.06011963, -0.11122962, -0.11946733, ...,  4.        ,
         3.        ,  4.        ],
       [-0.38890946,  0.44369395,  0.40087632, ...,  3.        ,
         2.        ,  1.        ],
       ...,
       [ 2.77227394,  0.90613026,  0.40087632, ...,  3.        ,
         3.        ,  1.        ],
       [-0.5188211 , -0.20371688, -1.16015463, ...,  4.        ,
         2.        ,  2.        ],
       [-0.60542887,  0.35120669, -1.68049828, ...,  4.        ,
         1.        ,  2.        ]])

In [73]:
preprocessor.get_feature_names_out()

array(['num_pipeline__carat', 'num_pipeline__depth',
       'num_pipeline__table', 'num_pipeline__x', 'num_pipeline__y',
       'num_pipeline__z', 'cat_pipeline__cut', 'cat_pipeline__color',
       'cat_pipeline__clarity'], dtype=object)

In [74]:
X_train = pd.DataFrame(preprocessor.fit_transform(X_train), columns=preprocessor.get_feature_names_out())
X_test = pd.DataFrame(preprocessor.transform(X_test), columns=preprocessor.get_feature_names_out())

In [75]:
X_train

,num_pipeline__carat,num_pipeline__depth,num_pipeline__table,num_pipeline__x,num_pipeline__y,num_pipeline__z,cat_pipeline__cut,cat_pipeline__color,cat_pipeline__clarity
0,0.238997,2.200952,0.400876,0.313149,0.274548,0.503621,1.0,2.0,3.0
1,-1.060120,-0.111230,-1.160155,-1.256976,-1.242156,-1.251643,4.0,3.0,3.0
2,-1.038468,0.166232,-0.639811,-1.266000,-1.233074,-1.222630,4.0,0.0,3.0
3,0.238997,2.570901,0.921220,0.304126,0.265466,0.518128,0.0,3.0,2.0
4,-1.038468,0.166232,0.921220,-1.266000,-1.251238,-1.237136,3.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...
135496,-0.540473,-0.666153,-0.639811,-0.417771,-0.397524,-0.453795,4.0,1.0,3.0
135497,-0.583777,-0.388691,-0.639811,-0.453866,-0.497427,-0.497314,4.0,3.0,2.0
135498,-0.194042,-0.481179,-0.639811,0.015367,0.029333,-0.018606,4.0,2.0,4.0
135499,-0.692037,-0.388691,-1.160155,-0.634340,-0.606412,-0.642378,4.0,4.0,2.0
135500,-0.930208,-2.053462,0.921220,-0.941146,-1.006022,-1.121086,3.0,1.0,4.0

In [76]:
X_test

,num_pipeline__carat,num_pipeline__depth,num_pipeline__table,num_pipeline__x,num_pipeline__y,num_pipeline__z,cat_pipeline__cut,cat_pipeline__color,cat_pipeline__clarity
0,0.542124,1.091105,1.441564,0.665074,0.746815,0.808254,2.0,3.0,4.0
1,-1.060120,-0.111230,-0.119467,-1.220881,-1.278484,-1.251643,4.0,3.0,4.0
2,-0.388909,0.443694,0.400876,-0.273392,-0.306704,-0.265213,3.0,2.0,1.0
3,0.455516,-0.018742,-0.119467,0.619955,0.574256,0.590659,3.0,0.0,2.0
4,0.477168,-1.498539,2.482251,0.728240,0.646913,0.518128,3.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...
58067,0.238997,1.923490,-0.639811,0.358268,0.292712,0.503621,2.0,1.0,2.0
58068,-0.194042,-0.481179,0.921220,-0.011704,-0.061488,-0.076631,3.0,2.0,1.0
58069,2.772274,0.906130,0.400876,2.172033,2.145453,2.244379,3.0,3.0,1.0
58070,-0.518821,-0.203717,-1.160155,-0.435819,-0.397524,-0.424783,4.0,2.0,2.0
58071,-0.605429,0.351207,-1.680498,-0.517032,-0.497427,-0.482808,4.0,1.0,2.0